h1{
    text-transform: uppercase;
    text-shadow: 1px 1px #8c8c8c;
}
header{  
    border-radius: 6px;
    border: 1px solid #8c8c8c;
    margin: 25px auto;
    padding: 30px;
}

footer { 
    margin-top: 100px;
    text-align: center;
}
.no-results {
    margin:20px auto;
    
}